@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-primary: "Montserrat", serif;
    --font-secondary: "Space Mono", serif;
    --font-ternary: "Caveat", serif;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
